{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Filmreviews</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/stijl.css' %}">
</head>
<body>
    <header>
            <h1>
            <a href="{% url 'home' %}">
                <img src="{% static 'img/movieclapper.webp' %}"alt="" width="50" height="50"/>
                Django Filmreviews
            </a>
            </h1>        
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Films</a></li>
                    <li><a href="{% url 'nieuws' %}">Nieuws</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'loguit' %}">Uitloggen ({{ user.username }})</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Inloggen</a></li>
                    <li><a href="{% url 'registreer' %}">Registreren als gebruiker</a></li>
                {% endif %}
                </ul>
            </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>